# Test Execution

## Suite 'common' Case: 'case_1' - Test: 'test_001_trace.ansible.yml'

```txt
PLAY RECAP *********************************************************************
localhost                  : ok=2    changed=2    unreachable=0    failed=0    skipped=0    rescued=0    ignored=0   
```

## Suite 'common' Case: 'case_1' - Test: 'test_002_common_vars.ansible.yml'

```txt
PLAY RECAP *********************************************************************
localhost                  : ok=2    changed=0    unreachable=0    failed=0    skipped=0    rescued=0    ignored=0   
```

## Suite 'az' Case: 'case_1' - Test: 'test_001_cloud_vars.ansible.yml'

```txt
PLAY RECAP *********************************************************************
localhost                  : ok=2    changed=0    unreachable=0    failed=0    skipped=0    rescued=0    ignored=0   
```

## Suite 'az' Case: 'case_1' - Test: 'test_002_vars.ansible.yml'

```txt
PLAY RECAP *********************************************************************
localhost                  : ok=4    changed=0    unreachable=0    failed=0    skipped=0    rescued=0    ignored=0   
```

## Suite 'az' Case: 'case_2' - Test: 'test_005_resourcegroup_var.ansible.yml'

```txt
PLAY RECAP *********************************************************************
localhost                  : ok=6    changed=4    unreachable=0    failed=0    skipped=0    rescued=0    ignored=0   
```

## Suite 'az' Case: 'case_2' - Test: 'test_004_resourcegroup_basic.ansible.yml'

```txt
PLAY RECAP *********************************************************************
localhost                  : ok=5    changed=3    unreachable=0    failed=0    skipped=0    rescued=0    ignored=0   
```

## Suite 'az' Case: 'case_2' - Test: 'test_003_login.ansible.yml'

```txt
PLAY RECAP *********************************************************************
localhost                  : ok=2    changed=0    unreachable=0    failed=0    skipped=0    rescued=0    ignored=0   
```

## Summary

Total: 7
Pass: 7
Fail: 0 
