# Test Execution

## Suite 'az' Case: 'case_1' - Test: 'test_001_cloud_vars.ansible.yml'

```txt
PLAY RECAP *********************************************************************
localhost                  : ok=2    changed=0    unreachable=0    failed=0    skipped=0    rescued=0    ignored=0   
```

## Suite 'az' Case: 'case_1' - Test: 'test_002_vars.ansible.yml'

```txt
PLAY RECAP *********************************************************************
localhost                  : ok=4    changed=0    unreachable=0    failed=0    skipped=0    rescued=0    ignored=0   
```

## Summary

Total: 2
Pass: 2
Fail: 0 
